<nav class="bg-dark text-white p-3 sidebar" style="width: 250px; height: 100%; overflow-y: auto;">
  <%= link_to root_path, class: "text-white text-decoration-none" do %>
    <h4 class="mb-4">FishDrip</h4>
  <% end %>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-white" href="<%= root_path %>">Home</a>
    </li>

    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to '投稿', new_post_path, class: 'nav-link text-white' %>
      <% else %>
        <a class="nav-link text-white" href="#" onclick="alert('ログインしてください'); return false;">投稿</a>
      <% end %>
    </li>

    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to 'Map', "#", class: 'nav-link text-white' %>
      <% else %>
        <a class="nav-link text-white" href="#" onclick="alert('ログインしてください'); return false;">Map</a>
      <% end %>
    </li>

    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to 'マイページ', "#", class: 'nav-link text-white' %>
      <% else %>
        <a class="nav-link text-white" href="#" onclick="alert('ログインしてください'); return false;">マイページ</a>
      <% end %>
    </li>
  </ul>
</nav>
